In [1]:
import pandas as pd
import numpy as ny

In [2]:
# loading the data from csv file to a pandas Dataframe
raw_mail_data=pd.read_csv("C:\\Users\\Atharva\\Downloads\\mail_data.csv")

In [3]:
raw_mail_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
raw_mail_data=raw_mail_data.drop_duplicates()

In [6]:
# replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [7]:
# printing the first 5 rows of the dataframe
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
# checking the number of rows and columns in the dataframe
mail_data.shape

(5157, 2)

In [9]:
# label spam mail as 0;  ham mail as 1;

mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [10]:
# separating the data as texts and label

X = mail_data['Message']

Y = mail_data['Category']

In [11]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5157, dtype: object

In [12]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5157, dtype: object

#Splitting the data into training data & test data

In [13]:
import sklearn
print(sklearn.__version__)

1.0.2

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [16]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5157,)
(4125,)
(1032,)

Feature Extraction

In [17]:
# transform the text data to feature vectors that can be used as input to the Logistic regression
from sklearn.feature_extraction.text import TfidfVectorizer


feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [18]:
print(X_train)

1786                   I dun believe u. I thk u told him.
3576    And do you have any one that can teach me how ...
420     Send a logo 2 ur lover - 2 names joined by a h...
5156    Sir, I need Velusamy sir's date of birth and c...
3354    I emailed yifeng my part oredi.. Can ü get it ...
                              ...
809          I am taking half day leave bec i am not well
993     Up to ü... Ü wan come then come lor... But i d...
1726    You know there is. I shall speak to you in  &l...
3525    Yeah that'd pretty much be the best case scenario
1748                     I think u have the wrong number.
Name: Message, Length: 4125, dtype: object

In [19]:
print(X_train_features)

  (0, 6692)	0.48303813512243965
  (0, 6605)	0.4898673616987752
  (0, 1247)	0.5538832733861689
  (0, 2400)	0.4689535663823655
  (1, 1592)	0.5594126567616489
  (1, 5859)	0.5964494866231046
  (1, 6492)	0.5755914257195885
  (2, 300)	0.16113294658934302
  (2, 820)	0.24488128414489752
  (2, 6835)	0.24488128414489752
  (2, 5064)	0.22967525805125708
  (2, 7355)	0.21568440262445418
  (2, 682)	0.22967525805125708
  (2, 25)	0.24488128414489752
  (2, 2564)	0.19505111090227498
  (2, 798)	0.24488128414489752
  (2, 4393)	0.24488128414489752
  (2, 4520)	0.24488128414489752
  (2, 4519)	0.24488128414489752
  (2, 4084)	0.2644704778405301
  (2, 6828)	0.13848562282513652
  (2, 3252)	0.18176623831152225
  (2, 3695)	0.21568440262445418
  (2, 4522)	0.2363176943466334
  (2, 4089)	0.2196593047164816
  :	:
  (4120, 1223)	0.5846719438819551
  (4120, 6456)	0.4751891362657192
  (4120, 3181)	0.4285103741434733
  (4120, 3921)	0.39220487670240334
  (4120, 2101)	0.30807173962343376
  (4121, 5968)	0.4786671802830861
  (4121, 6283)	0.4786671802830861
  (4121, 2234)	0.4017927559446723
  (4121, 7093)	0.30479406961757016
  (4121, 1827)	0.4699620412025258
  (4121, 4064)	0.25798119556428833
  (4122, 5830)	0.46450686818513914
  (4122, 4342)	0.4905868510580283
  (4122, 6119)	0.4868051225603611
  (4122, 3818)	0.31447423988339285
  (4122, 3138)	0.3215825654206297
  (4122, 4105)	0.32290755595687465
  (4123, 5720)	0.571842199779247
  (4123, 1595)	0.4589070366947927
  (4123, 1264)	0.3822287755202981
  (4123, 7365)	0.3402075943627085
  (4123, 5192)	0.4478401345634717
  (4124, 7316)	0.7095407247401689
  (4124, 4681)	0.5199862107431475
  (4124, 6597)	0.47556944873717305

Training the Model



Logistic Regression

In [20]:
import sklearn.linear_model as sk
model = sk.LogisticRegression()

In [21]:
# training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained model

In [22]:
# prediction on training data
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [23]:
print(confusion_matrix(Y_train, prediction_on_training_data))

[[ 349  153]
 [   4 3619]]

In [24]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.961939393939394

In [25]:
print(classification_report(Y_train, prediction_on_training_data))

              precision    recall  f1-score   support

           0       0.99      0.70      0.82       502
           1       0.96      1.00      0.98      3623

    accuracy                           0.96      4125
   macro avg       0.97      0.85      0.90      4125
weighted avg       0.96      0.96      0.96      4125

Building a Predictive System

In [26]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times"]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[1]
Ham mail